#ending {
	position: absolute;
	left: 25vw;
	top: 5vh;
	background-color: black;
	height: 85vh;
	width: 50vw;
	color: white;
	z-index: 15;
	border-style: ridge;
	border-color: red;
}

#log_out-button {
	width: auto;
	padding: 6px 20px;
	margin-top: 30px;
	font-size: 22px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	color: red;
	background-color: black;

	border: 1px solid red;
	border-radius: 2px;
	outline: none;

	transition: background-color ease .25s,
	color ease .25s;
}


#log_out-button:hover,
#log_out-button:focus {
	color: black;
	background-color: red;
	cursor: pointer;
}
