/* The container */
.gdpr {
	color: #fff;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.gdpr input {
	position: absolute;
	cursor: pointer;
	height: 1px;
	width: 1px;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 6px;
	left: 0px;
	height: 15px;
	width: 15px;
	background-color: #fff;
}

/* On mouse-over, add a grey background color */
.gdpr:hover input ~ .checkmark {
	background-color: red;
}

/* When the checkbox is checked, add a blue background */
.gdpr input:checked ~ .checkmark {
	background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.gdpr input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.gdpr .checkmark:after {
	left: 6px;
	top: 3px;
	width: 4px;
	height: 8px;
	border: solid red;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* POLICY POP-UP*/
.open-policy {
	display: inline-block;
}

.policy {
	position: fixed;
	bottom: 60px;
	left: 6%;
	margin-left: 20px;
	max-width: 80vw; /*was 60 */
	display: none;
	box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}

.policy-header {
	padding: 10px 10px;
	background: grey;
	font-size: 20px;
	color: white;
}

.policy-container {
	padding: 15px;
	background-color: #ccc;
	color: black;
}

ul {
	margin-left: 20px;
}

.close {
	position: absolute;
	top: 5px;
	right: 15px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}

.close:hover {
	color: lightgrey;
}

@media only screen and (max-width: 1200px) {
	.open-policy {
		padding-left: 25px;
	}
}

@media only screen and (max-width: 950px) {
	.open-policy {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 387px) {
	.open-policy {
		padding-left: 25px;
	}
}
